albumentations==0.4.5
click==7.1.2
cycler==0.10.0
decorator==4.4.2
future==0.18.2
glog==0.3.1
imageio==2.8.0
imgaug==0.2.6
kiwisolver==1.2.0
matplotlib==3.2.2
networkx==2.4
numpy==1.18.5
opencv-python-headless==4.2.0.34
pandas==1.0.5
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-gflags==3.1.2
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.4
scikit-image==0.17.2
scipy==1.4.1
six==1.15.0
tifffile==2020.6.3
torch==1.5.1
torchvision==0.6.1
tqdm==4.46.1
ttach==0.0.2